/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Nanum+Gothic:wght@700&family=Roboto+Slab&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');


/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('components/banner.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/footer.css');


/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: 'Cinzel', Poppins;
}

a {
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}
/* Custom design below! */
